@{
    ViewData["Title"] = "Home Page";
}

    <section class="header-gaib">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <div class="d-none d-sm-block d-md-none">
                        <h1>Global AI Bootcamp</h1>
                        <h2>14 December 2019</h2>
                    </div>
                </div>
            </div>
        </div>
    </section>